# python bytecode cache
*.pyc

# python virtual environment
rl_env/

# playground of new ideas
notepad.py

# output data (available upon request)
models/
results/

# documents, figures, and HPC files
.VSCodeCounter/
artemis_hpc/
docs/figs/
paper_drafts/
tex/

# historical market indicators and prices
docs/raw_data
docs/market_datq

# real market environments
envs/market_envs.py
utils/gen_market.py
utils/market_sim.py
utils/market_eval.py

# protoype multi-stage model
sarea2/