# python bytecode cache
*.pyc

# python virtual environment
rl_env/

# playground of new ideas
notepad.py

# output data (available upon request)
models/
results/

# documents, figures, and HPC files
.VSCodeCounter/
artemis_hpc/
docs/figs/
paper_drafts/
tex/

# historical market indicators and prices
docs/raw_data

# real market environments
utils/extract_xlsx.py

# prototype multi-stage model
sarea2/