# python bytecode cache
*.pyc

# python virtual environment
rl_env/

# playground of new ideas
notepad.py

# output data (available upon request)
models/
results/

# documents, figures, and HPC files
.VSCodeCounter/
artemis_hpc/
docs/figs/
papers/
tex/

# more advanced real-world market environments
market_sim/

# prototype multi-stage model
sarea2/